.login-to-signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
  * {
    margin: 0.4rem;
  }
  h3 {
    color: gray;
    width: 95%; 
    text-align: center; 
    border-bottom: 1px solid lightgrey; 
    span {
      background:#fff; 
      padding:0 10px;
    }
  }
}

.redirect-signup {
  font-size: 0.8rem;
  width: 22.5rem;
  padding: 0.45rem;
  border: 1px solid gray;
  border-radius: 0.3em;
  &:hover {
    cursor: pointer;
    background: linear-gradient(#e6e6e6, #cccccc);
  }
}



