// Navbar
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: $almost-black;
  font-size: 0.6em;
  font-family: $default-font;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 2rem;
}

// Logo
.dark-logo {
  img {
    width: 6.8em;
    height: 3em;
    padding: 0.3em 0.5em 0.3em 0.5em;
    margin: 0.1em;
    border: 1px solid $almost-black;
  }
  :hover {
    border: 1px solid gray;
  }
}

// Address
.address {
  text-decoration: none;
  color: white;
  margin: 2px;
  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border: 1px solid $almost-black;
  &:hover {
    border: 1px solid gray;
    cursor: pointer;
  }
  &:hover .location {
    display: block;
  }
}

// .location {
//   display: none;
//   font-size: 0.5rem;
//   position: absolute;
//   background-color: white;
//   border: 1px solid gray;
//   top: 29px;
//   left: 117px;
//   cursor: default;
//   height: 5em;
//   width: 13em;
//   border-radius: 0.2em;
//   padding: 6px 8px;
//   &:after {
//   content: "";
//   position:absolute;
//   margin-top:-6px;
//   margin-left:-5px;
//   border-left: 12px solid transparent;
//   border-right: 12px solid transparent;
//   border-bottom: 12px solid white;
//   right: 8px; 
//   top: 0px;
//   }
// }

// .location-box {
//   font-size: 0.7rem;
//   color: $almost-black;
//   outline: none;
//   margin: 3px;
//   padding: 2px;
//   border: 1px solid $almost-black;
//   border-radius: 0.5em;
//   box-shadow:0 0 3px #bfbfbf inset;
//   .location-text {
//     font-size: 0.4rem;
//     padding-bottom: 1em;
//     padding-left: 0.5em;
//   }
// }

// Searchbar
.searchbar {
  position: relative;
  display: flex;
  width: 60%;  
  height: 80%;
  top: 10%;
  input[type=text] {
  border: 2px solid $almost-black;
  border-right: none;
  border-left: none;
  outline: none;
  &:focus {
  border: 1.5px solid #ffb917;
  }
}
}

.search-input {
  width: 100%;
  border-right: none;
  font-size: 10px;
  padding: 0.5em;
}

.search-button, .search-menu {
  text-align: center;
  cursor: pointer;
  border: 2px solid $almost-black;
}

.search-button {
  background: #ffb917;
  border-radius: 0 5px 5px 0;
  width: 1.9rem;
  font-size: 1.8em;
  border-left: none;
  padding-top: 0.1em;
  &:hover {
    background-color: #f0a700;
  }
}

.search-menu {
  background-color: #f2f2f2;
  border-radius: 5px 0 0 5px;
  border-right: 1px solid gray;
  font-size: 1em;
  width: 2.5rem;
  font-size: 0.5rem;
  &:hover {
    background-color: #cccccc;
  }
}

// Language
.flag {
  display: relative;
  margin-top: 0.2em;
  padding: 7px;
  border: 1px solid $almost-black;
  img {
    width: 1.4em;
    height: 1em;
  }
  &:hover {
    cursor: pointer;
    border: 1px solid gray;
  }
}

.flag:hover .language {
  display: block;
}

.language {
  display: none;
  font-size: 0.5rem;
  position: absolute;
  background-color: white;
  border: 1px solid gray;
  top: 3.6em;
  right: 20.5em;
  cursor: default;
  height: 3em;
  width: 10em;
  border-radius: 0.2em;
  padding: 6px 8px;
  :last-child {
    margin-left: 1em;
  }
  &:after {
  content: "";
  position:absolute;
  margin-top:-6px;
  margin-left:-5px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  right: 8px; 
  top: 0px;
  }
}

.radio-button {
  &:hover {
    cursor: pointer;
  }
  &:active {
    fill: $almost-black;
  } 
}

// Greeting
.greeting {
  display: relative;
  margin: 2px;
  padding: 0.4em 0.9em 0.5em 1em;
  border: 1px solid $almost-black;
  &:hover {
    border: 1px solid gray;
  }
}

.greeting-button {
  text-decoration: none;
  color: white;
}

.login-button {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(#ffdb82, #f0bf43);
  padding: 0.4em;
  border: 0.1em solid gray;
  border-radius: 0.2em;
  text-align: center;
  width: 12em;
  font-size: 9px;
  margin: 2px;
  margin-bottom: 5px;
    &:hover {
      background: linear-gradient(#ffc63b, #e8b22a);
      cursor: pointer;
    }
}

.login-flyout {
  display: none;
  position: absolute;
  border: 1px solid gray;
  padding: 10px;
  top: 3em;
  right: 7.2em;
  border-radius: 0.2em;
  background-color: white;
  * {
    text-align: center;
  }
  h2 {
    font-weight: bold;
    margin: 0.3rem;
  }
  li {
    margin: 0.2rem;
    text-align: left;
  }
  &:after {
  content: "";
  position:absolute;
  margin-top:-6px;
  margin-left:-5px;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-bottom: 12px solid white;
  right: 20px; 
  top: 0px;
  }
}

.greeting:hover .login-flyout{
  display: block;
}

#small-msg {
  font-size: 8px;
  margin-top: 0.5em;
}

// Cart
.cart {
  text-decoration: none;
  color: white;
  margin: 0.2em;
  padding: 0.8em;
  padding-top: 0.5em;
  border: 1px solid $almost-black;
  &:hover {
    border: 1px solid gray;
  }
}

.cart-icon {
  font-size: 1rem;
}

// Misc
.nav-small {
  font-size: 8px;
}

.dropdown-arrow {
  margin-left: 0.2em;
  font-size: 0.45rem;
}