// Product Info

.product-show-page {
  margin: 4em 10em 4em 10em;
  font-family: $default-font;
  color: $dark-gray;
  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  .product-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      width: 28rem;
      height: auto;
    }
  }
  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  li {
    list-style-type: inside;
  }
  section {
    flex-grow: 0.8;
  }
}

aside {
  border: 1px solid lightgrey;
  padding: 1em;
}

.product-price {
  color: darkred;
  font-size: 1.2em;
}

.in-stock {
  margin-top: 1em;
  margin-bottom: 1em;
  color: green;
  font-size: 1.3em;
}

.add-to-cart {
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(#ffe07d, #ffd95e);
  padding: 0.7em;
  border-radius: 1em;
  text-align: center;
  width: 14em;
  font-size: 0.9em;
  margin: 2px;
  margin-bottom: 5px;
    &:hover {
      background: linear-gradient(#ffdd6e, #ffcd29);
      cursor: pointer;
    }
}

.shipped-by {
  margin-top: 1em;
  margin-bottom: 1em;
}

.gray {
  color: gray;
}

.line-height {
  line-height: 1.5em;
}

// Reviews

.reviews {

}